<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>monkGPT</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <link rel="icon" href="favicon.ico" type="image/x-icon">
    </head>
    <body>
        <video autoplay muted loop playsinline id="background-video">
            <source src="{{ url_for('static', filename='vid.mp4') }}" type="video/mp4">
        </video>
        <div class="navbar">
            <div class="navbar-title"><h2>MonkGPT</h2></div>
            <div class="navbar-link"><a href="https://www.instagram.com/heavenlypotatofry/" aria-label="Instagram">IG</a></div>
            </div>
        <div class="container">
            <form id="emoji-form" method="POST">
                <label for="query">Ask a Monk</label>
                <input type="text" id="query" name="query" required>
                <button type="submit" aria-label="Submit">Teach Me</button>
                <div class="loader" id="loader"></div>
            </form>
            {% if result %}
            <div class="result-container">
                <p>{{ result }}</p>
            </div>
            {% elif greeting %}
            <div class="result-container">
                <p>{{ greeting }}</p>
            </div>
            {% endif %}
        </div>
        <footer>
            <p>The <b><a href="https://www.youtube.com/shorts/-Somazb24hM" >MONK</a></b> answering your problems is inspired from <b>here</b>.</p>
        </footer>
        <script src="{{ url_for('static', filename='script.js') }}"></script>
    </body>
</html>